n8n/stockos-workflow.json
{
  "name": "STOCKOS - Inventory Management Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stockos-webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Receiver",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "stockos-events"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "stock.updated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stock_updated"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "stock.low",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stock_low"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "order.created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order_created"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_type }}",
                    "rightValue": "order.shipped",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order_shipped"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:3000/api/v1/inventory/stock/{{ $json.payload.product_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-tenant-id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "x-warehouse-id",
              "value": "={{ $json.payload.warehouse_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Get Current Stock Level",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-low-stock",
              "leftValue": "={{ $json.available_quantity }}",
              "rightValue": "={{ $json.reorder_point }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Check Stock Threshold",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 160]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "inventory-alerts",
          "mode": "name"
        },
        "text": "=:warning: *Low Stock Alert*\n\n*Product:* {{ $json.product_name }}\n*SKU:* {{ $json.sku }}\n*Current Stock:* {{ $json.available_quantity }}\n*Reorder Point:* {{ $json.reorder_point }}\n*Warehouse:* {{ $json.warehouse_name }}\n\nAction required: Please reorder.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Slack - Low Stock Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1200, 80]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.manager_email }}",
        "subject": "=Low Stock Alert: {{ $json.product_name }} ({{ $json.sku }})",
        "emailType": "html",
        "message": "=<h2>Low Stock Alert</h2><p>The following product has fallen below its reorder point:</p><table border=\"1\" cellpadding=\"8\"><tr><td><strong>Product</strong></td><td>{{ $json.product_name }}</td></tr><tr><td><strong>SKU</strong></td><td>{{ $json.sku }}</td></tr><tr><td><strong>Current Stock</strong></td><td>{{ $json.available_quantity }}</td></tr><tr><td><strong>Reorder Point</strong></td><td>{{ $json.reorder_point }}</td></tr><tr><td><strong>Warehouse</strong></td><td>{{ $json.warehouse_name }}</td></tr></table><p>Please take action to reorder this item.</p>",
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Email - Low Stock Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/v1/inventory/movements",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-tenant-id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "x-warehouse-id",
              "value": "={{ $json.warehouse_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"product_id\": \"{{ $json.product_id }}\",\n  \"quantity\": {{ $json.quantity }},\n  \"movement_type\": \"{{ $json.movement_type }}\",\n  \"from_location_id\": \"{{ $json.from_location_id }}\",\n  \"to_location_id\": \"{{ $json.to_location_id }}\",\n  \"reason\": \"{{ $json.reason }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Create Stock Movement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/v1/orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-tenant-id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.order) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Process New Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/v1/inventory/stock/availability",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-tenant-id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "x-warehouse-id",
              "value": "={{ $json.warehouse_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"warehouse_id\": \"{{ $json.warehouse_id }}\",\n  \"items\": {{ JSON.stringify($json.order.items) }}\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Check Stock Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "all-available",
              "leftValue": "={{ $json.all_available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "All Items Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3000/api/v1/orders/{{ $json.order_id }}/reserve",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-tenant-id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "x-warehouse-id",
              "value": "={{ $json.warehouse_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Reserve Stock for Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 360]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "orders",
          "mode": "name"
        },
        "text": "=:package: *Order Confirmed*\n\n*Order ID:* {{ $json.order_id }}\n*Customer:* {{ $json.customer_name }}\n*Items:* {{ $json.items.length }}\n*Total:* {{ $json.total }}\n\nStock reserved successfully.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Slack - Order Confirmed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1680, 360]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "orders",
          "mode": "name"
        },
        "text": "=:warning: *Order On Hold - Insufficient Stock*\n\n*Order ID:* {{ $json.order_id }}\n*Customer:* {{ $json.customer_name }}\n\n*Unavailable Items:*\n{{ $json.unavailable_items.map(item => '- ' + item.product_name + ' (need: ' + item.requested + ', have: ' + item.available + ')').join('\\n') }}\n\nPlease review and take action.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Slack - Order On Hold",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1440, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3000/api/v1/orders/{{ $json.order_id }}/ship",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-tenant-id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"carrier\": \"{{ $json.carrier }}\",\n  \"tracking_number\": \"{{ $json.tracking_number }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "Mark Order Shipped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 580]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customer_email }}",
        "subject": "=Your order {{ $json.order_id }} has been shipped!",
        "emailType": "html",
        "message": "=<h2>Your Order Has Shipped!</h2><p>Great news! Your order is on its way.</p><table border=\"1\" cellpadding=\"8\"><tr><td><strong>Order ID</strong></td><td>{{ $json.order_id }}</td></tr><tr><td><strong>Carrier</strong></td><td>{{ $json.carrier }}</td></tr><tr><td><strong>Tracking Number</strong></td><td>{{ $json.tracking_number }}</td></tr></table><p><a href=\"{{ $json.tracking_url }}\">Track your package</a></p>",
        "options": {}
      },
      "id": "a1b2c3d4-0015-0015-0015-000000000015",
      "name": "Email - Shipment Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [960, 580]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a1b2c3d4-0016-0016-0016-000000000016",
      "name": "Hourly Stock Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 700]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/v1/inventory/stock/low",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-tenant-id",
              "value": "11111111-1111-1111-1111-111111111111"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0017-0017-0017-000000000017",
      "name": "Get All Low Stock Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 700]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $json.items.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0018-0018-0018-000000000018",
      "name": "Has Low Stock Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 700]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "inventory-alerts",
          "mode": "name"
        },
        "text": "=:chart_with_downwards_trend: *Hourly Low Stock Report*\n\n*{{ $json.items.length }} items below reorder point:*\n\n{{ $json.items.slice(0, 10).map(item => '- ' + item.sku + ' - ' + item.product_name + ' (' + item.available + '/' + item.reorder_point + ')').join('\\n') }}\n\n{{ $json.items.length > 10 ? '... and ' + ($json.items.length - 10) + ' more items' : '' }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "a1b2c3d4-0019-0019-0019-000000000019",
      "name": "Slack - Hourly Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [960, 700]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "a1b2c3d4-0020-0020-0020-000000000020",
      "name": "Daily Report (8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 860]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/v1/analytics/daily-summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-tenant-id",
              "value": "11111111-1111-1111-1111-111111111111"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0021-0021-0021-000000000021",
      "name": "Get Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 860]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "inventory-reports",
          "mode": "name"
        },
        "text": "=:bar_chart: *Daily Inventory Report - {{ new Date().toISOString().split('T')[0] }}*\n\n*Movements:*\n- Inbound: {{ $json.inbound_count }} ({{ $json.inbound_units }} units)\n- Outbound: {{ $json.outbound_count }} ({{ $json.outbound_units }} units)\n- Transfers: {{ $json.transfer_count }}\n\n*Stock Status:*\n- Total SKUs: {{ $json.total_skus }}\n- Low Stock Items: {{ $json.low_stock_count }}\n- Out of Stock: {{ $json.out_of_stock_count }}\n\n*Orders:*\n- New: {{ $json.new_orders }}\n- Shipped: {{ $json.shipped_orders }}\n- Pending: {{ $json.pending_orders }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "a1b2c3d4-0022-0022-0022-000000000022",
      "name": "Slack - Daily Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [720, 860]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stockos-receiving",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0023-0023-0023-000000000023",
      "name": "Receiving Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 1020],
      "webhookId": "stockos-receiving"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/v1/receiving",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-tenant-id",
              "value": "={{ $json.tenant_id }}"
            },
            {
              "name": "x-warehouse-id",
              "value": "={{ $json.warehouse_id }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.receiving) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0024-0024-0024-000000000024",
      "name": "Process Receiving",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 1020]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "warehouse",
          "mode": "name"
        },
        "text": "=:inbox_tray: *Goods Received*\n\n*PO Number:* {{ $json.po_number }}\n*Supplier:* {{ $json.supplier_name }}\n*Items:* {{ $json.items.length }}\n*Received By:* {{ $json.received_by }}\n\n*Details:*\n{{ $json.items.map(item => '- ' + item.sku + ' - Qty: ' + item.quantity).join('\\n') }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "a1b2c3d4-0025-0025-0025-000000000025",
      "name": "Slack - Goods Received",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [720, 1020]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "a1b2c3d4-0026-0026-0026-000000000026",
      "name": "Daily Expiry Check (6 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 1180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/v1/inventory/lots/expiring",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "days",
              "value": "30"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-tenant-id",
              "value": "11111111-1111-1111-1111-111111111111"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0027-0027-0027-000000000027",
      "name": "Get Expiring Lots (30 days)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 1180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-expiring",
              "leftValue": "={{ $json.lots.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0028-0028-0028-000000000028",
      "name": "Has Expiring Lots?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 1180]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "quality",
          "mode": "name"
        },
        "text": "=:warning: *Lot Expiration Alert*\n\n*{{ $json.lots.length }} lots expiring within 30 days:*\n\n{{ $json.lots.map(lot => '- ' + lot.lot_number + ' - ' + lot.product_name + ' (Expires: ' + lot.expiry_date + ', Qty: ' + lot.quantity + ')').join('\\n') }}\n\nPlease prioritize FEFO allocation or plan disposition.",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "a1b2c3d4-0029-0029-0029-000000000029",
      "name": "Slack - Expiry Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [960, 1180]
    }
  ],
  "connections": {
    "Webhook Receiver": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Get Current Stock Level",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Stock Movement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process New Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Order Shipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Stock Level": {
      "main": [
        [
          {
            "node": "Check Stock Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Stock Threshold": {
      "main": [
        [
          {
            "node": "Slack - Low Stock Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email - Low Stock Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Process New Order": {
      "main": [
        [
          {
            "node": "Check Stock Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Stock Availability": {
      "main": [
        [
          {
            "node": "All Items Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Items Available?": {
      "main": [
        [
          {
            "node": "Reserve Stock for Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Order On Hold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reserve Stock for Order": {
      "main": [
        [
          {
            "node": "Slack - Order Confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Order Shipped": {
      "main": [
        [
          {
            "node": "Email - Shipment Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hourly Stock Check": {
      "main": [
        [
          {
            "node": "Get All Low Stock Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Low Stock Items": {
      "main": [
        [
          {
            "node": "Has Low Stock Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Low Stock Items?": {
      "main": [
        [
          {
            "node": "Slack - Hourly Report",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Daily Report (8 AM)": {
      "main": [
        [
          {
            "node": "Get Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Summary": {
      "main": [
        [
          {
            "node": "Slack - Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receiving Webhook": {
      "main": [
        [
          {
            "node": "Process Receiving",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Receiving": {
      "main": [
        [
          {
            "node": "Slack - Goods Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Expiry Check (6 AM)": {
      "main": [
        [
          {
            "node": "Get Expiring Lots (30 days)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Expiring Lots (30 days)": {
      "main": [
        [
          {
            "node": "Has Expiring Lots?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Expiring Lots?": {
      "main": [
        [
          {
            "node": "Slack - Expiry Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "stockos-wms-automation"
  },
  "tags": [
    {
      "name": "inventory",
      "id": "1"
    },
    {
      "name": "wms",
      "id": "2"
    },
    {
      "name": "stockos",
      "id": "3"
    }
  ],
  "pinData": {}
}
